:root {
  --green: #1abc9c;
  --green-dark: #16a085;
  --blue: #3498db;
  --blue-dark: #2980b9;
  --primary: var(--green);
  --primary-dark: var(--green-dark);
  --secondary: var(--blue);
  --secondary-dark: var(--blue-dark);
  --dark: #2c3e50;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark);
  color: white;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
